DATABASE_URL="postgresql://user:password@db:5432/niesl?schema=public"
ADMIN_PASSWORD="super-secret-password"
ADMIN_COOKIE_SECRET="change-me"
UPLOAD_DIR="./uploads"
NEXT_PUBLIC_SITE_NAME="Niesl Hyves Guestbook"

